.home_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home_image {
  display: flex;
  justify-content: center;
}

.home_copyline {
  display: flex;
  justify-content: center;
}

.home_ptag {
  color: black;
  font-family: "Apple Chancery", serif;
  font-size: 25pt;
}



.home_alexa {
  color: black;
  font-family: "Apple Chancery", serif;
  font-size: 15pt;
}
