.home_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home_image {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.home_copyline {
    display: flex;
    justify-content: center;
}

.home_ptag{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 25pt;
}

.home_mic {
    display: flex;
    justify-content: center;
}