.footer {
  margin-top: auto;
  color: white;
  background-color: rgb(54, 54, 54);
  padding-top: 3em;
  bottom: 0;
  width: 100%;
  padding: 1;
}

.footer_groups {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
